<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ishandivyansh.Android.app"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Pingpong</name>

  <description>
      lets have fun
  </description>

  <author  email="pankajmohta2001@yahoo.com">
      Ishan Mohta
  </author>
<icon src="icon.png"/>


<access origin="*" />
<gap:plugin name="org.apache.cordova.file" />

</widget>
